@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;

}



.container{
  background: #fff;
  width: 100%;
  height: auto;
  margin: 0 auto;
   position: relative;
  margin-top: 25%; 
  box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

